nav{
  background-color:aqua;
  color:white;
}
li{
    list-style: none;
}
nav{
    position:fixed;
    width:100%;
    top:0;
    left: 0;
}
ul{
    display:flex;
    gap: 25px;
    justify-content: right;
}